/* all common css start */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0%;
    padding: 0%;
    line-height: 0.8;
}
.container{
    margin: 0 auto;
    width: 1350px;
}
/* all common css end */
    /* headerpart start  */
    #headerpart{
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
       font-family: "Oswald", sans-serif;
    }
    .logomenuicons{
        padding: 20px 0;
        display: flex;
        align-items: center;
    }
    .logo{
        width: 13%;

    }
    .menu{
         width: 72%;
    }
    .icons{
        width: 15%;
        align-items: right;
    }
    .menu ul{
        display: flex
    }
    .menu ul li a{
        padding: 0 18px;
        color: #DDDDDD;
        font-size: 16px;
        font-weight: 400;
        transition: .5s;
    }
    .menu ul li a:hover{
        color: #FF4655;
    }
    .icons a{
        color: #DDDDDD;
        padding: 0 10px;
        font-size: 16px;
        font-weight: 400;
        transition: .5s;
    }
    .icons a:hover{
color: #FF4655;
    }
    .hii{
        padding-right: 25px;
    }
        /* headerpart end */
             /* bannerpart start */
             #bannerpart{
                background: url(../images/banner\ 1.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                padding-top: 340px;
                padding-bottom: 110px;
                font-family: "Oswald", sans-serif;
             }
             .bannertexts p{
               color: white;
               font-size:16px ;
               font-weight: 400;
               line-height: 24px;
               padding-bottom: 50px;
               width: 521px;
               
             }
             .bannertexts h3{
               color: white;
               font-size:27px ;
               font-weight: 400;
             }
             .bannertexts h1{
            color: white;
               font-size:60px ;
               font-weight:600 ;
                 padding: 30px 0 ;
                 position: relative;
             }
              .bannertexts h1::before{
                position: absolute;
                height:5px;
                width: 90px;
                background: white;
                bottom:25% ;
                left:42% ;
                transform: translate(-50%);
                content: "";
             }
             .bannerbtn{
                padding-bottom: 290px;
             }
             .bannerbtn a{
                color: black;
                background: white;
                font-family: "Oswald", sans-serif;
                 padding: 20px 25px;
                 font-size:16px ;
               font-weight: 400;
               transition: .5s;
               border: 2px solid #fff;
             }
             .btn{
                padding-left: 8px;
             }
             .bannerbtn a:hover{
                color: #FF4655;
                background: transparent;
             }
             .bannericons a{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                color: black;
                background: #757575;
                margin: 0 10px;
                padding: 5px 7px;
                transition: .5s;
             }
             .bannericons a:hover{
                color: #fff;
             }
                  /* bannerpart end */
               /* about part start */
               #aboutpart{
                  padding: 200px 0;
                  background: #121212;
               }
               .abouttext h3{
                color: white;
               font-size:38px ;
               font-weight: 600;
               width: 650px;
               line-height: 50px;
               letter-spacing: 7%;
               font-family:"Oswald", sans-serif;
               position: relative; 
             }
            .abouttext h3::before{
                position: absolute;
                height:3px;
                width: 120px;
                background:#FF4655;
                bottom:10% ;
                left:45% ;
                transform: translate(-50%);
                content: "";
             }
             .aboutflex{
                display: flex;
                justify-content: space-between;
             }
             .pic{
                padding-top: 50px;
                padding-bottom: 50px;
             }
             
             .paragraph h3{
            color: white;
               font-size:27px ;
               font-weight: 600;
             letter-spacing: 3%;
               font-family:"Oswald", sans-serif;
               padding-bottom: 30px;
             }
             .paragraph a i{
                color: #FF4655;
                padding-right:30px;
             }
             .paragraph a{
                color: white;
               font-size:20px ;
               font-weight: 400;
               font-family:"Barlow Condensed", sans-serif;
               padding-bottom: 20px;
               display: block !important;
             }
              .paragraph p{
                color: white;
               font-size:18px ;
               font-weight:400;
               line-height: 24px;
               width: 465px;
               font-family:"Oswald", sans-serif;
               padding-bottom: 40px;
              }
              .aboutbtn{
                display: flex;
              }
             .aboutbtn a{
                color: white;
                background:#212121;
                font-family: "Oswald", sans-serif;
                 padding: 20px 25px;
                 font-size:16px ;
               font-weight: 400;
               transition: .5s;
               border: 2px solid black;
             }
             .right{
                color: white !important;
                padding-left: 7px;
             }
             .aboutbtn a:hover{
                color: #FF4655;
                background: transparent;
             }
            .about{
                display: flex;
                /* justify-content: space-between; */
                text-align: center !important;
                transition: .5s;
            }
            .aboutitem a{
                font-family: "Barlow Condensed", sans-serif;
                 font-size:60px ;
               font-weight: 600;
               color: white;
               padding-top: 20px;
               position: relative;
            }
            .aboutitem a::after{
                position: absolute;
                height:15px;
                width:15px;
                background:#FF4655;
                border-radius: 50%;
                bottom:10% ;
                left:120% ;
                transform: translate(-50%);
                content: "";
            }
            .aboutitem{
                height: 170px;
                width: 315px;
                 background: #212121;
                 border-bottom-left-radius: 50px;
                 border-top-right-radius:50px;
                 margin-top: 50px;
                 margin-left: 60px;
                   }
            
             .aboutitem P{
                color: white;
               font-size:18px ;
               font-weight: 500;
               font-family: "Oswald", sans-serif;
               padding-top: 20px;
             }
               .about :hover{
                border: 1px solid#212121;
                box-shadow: 0px 8px 16px 0px rgba(248, 59, 59, 0.5);

               }
                           /* about part end */
                            /* games start */
                            #gamespart{
                                padding: 100px 0;
                                background: #191919;
                            }
 .gamestext h3{
        top: 0;
        left: 65%;
color: white;
               font-size:38px ;
               font-weight: 600;
               width:449px;
               line-height: 50px;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
               position: relative;
      }
      .gamestext h3::before{
              position: absolute;
                height:3px;
                width: 120px;
                background:#FF4655;
                bottom:8% ;
                left:55% ;
                transform: translate(-50%);
                content: "";
}
             .hm{
              position: relative;
             }
             .pics{
                display: inline-block;
                
             }
             .gamesicon {
              position: absolute;
              bottom: 0;
              right: 0;
             }
             .gamesicon i{
              display: block;
              color: #DDDDDD;
              font-size: 35px;
              padding: 15px 0;
              transition: all 0.5s ease;
             }
             .gamesicon i:hover {
 box-shadow: 0 6px 12px rgba(253, 91, 91, 0.4); 
 background: transparent;
}
                             /* games end */
/* live part start  */
#livepart{
   padding: 200px 0;
  background: #121212;
}
.livetext h3{
  color: white;
               font-size:38px ;
               font-weight: 600;
               width:446px;
               line-height: 50px;
               letter-spacing: 7%;
               font-family:"Oswald", sans-serif;
               position: relative; 
}
.livetext h3::before{
              position: absolute;
                height:3px;
                width: 120px;
                background:#FF4655;
                bottom:8% ;
                left:50% ;
                transform: translate(-50%);
                content: "";
}
.tour-slide-content{
  padding-top: 50px;
  justify-content: space-between;
  display: flex;
  position: relative;
}
.tour-slide-content img{
  display: block;
 width: 100%;
  height: 100%;
  display: block;
  margin: 0 20px;
  transition: transform 0.5s ease;
}
.tour-slide-content img:hover{
transform: scale(1.05); 
box-shadow: 0 4px 12px rgba(252, 98, 98, 0.5);
}
.match{
  align-items: center;
}
.match h4{
  padding-top: 50px;
  color: white;
               font-size:25px ;
               font-weight: medium;
               letter-spacing: 9%;
               font-family:"Barlow Condensed", sans-serif;
               text-align: center;
}
.team{
display: flex;
justify-content: space-between;
}
.team-left{
padding-top: 70px;
display: block;
position: relative;
transition: .5s;
}
.team1 :hover{
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(26, 1, 137, 0.8);
}
.team3{
  transition: .5s;
}
 .team3 :hover{
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(26, 1, 137, 0.8);
}
.matchtext{
  position: absolute;
  text-align: center;
  display: block;
  top:10%;
  left:150%;
}
.matchtext h4{
    color: white;
               font-size:40px ;
               font-weight: medium;
               letter-spacing: 15%;
               text-align: center;
               font-family:"Oswald", sans-serif;
}
.team1{
  display: block;
  padding-bottom: 60px;
  transition: .5s;
}
.team-right{
padding-top: 70px;
display: block;
position: relative;
}
.team2 :hover{
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(26, 1, 137, 0.8);
}
.team2{
display: block;
  transition: .5s;
}
.team4{
  padding-top: 60px ;
  transition: .5s;
}
.team4 :hover{
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(26, 1, 137, 0.8);
}
.matchtexttwo{
  position: absolute;
  text-align: center;
  display: block;
  top:55%;
  right:145%;
}
.matchtexttwo h4{
    color: white;
               font-size:40px ;
               font-weight: medium;
               letter-spacing: 15%;
               text-align: center;
               font-family:"Oswald", sans-serif;
}
/* live part end */
      /* friday sale part start */
      #salepart{
padding: 200px 0;
  background: #191919;
      }
      .saletext h3{
        top: 0;
        left: 65%;
color: white;
               font-size:38px ;
               font-weight: 600;
               width:449px;
               line-height: 50px;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
               position: relative;
      }
      .saletext h3::before{
              position: absolute;
                height:3px;
                width: 120px;
                background:#FF4655;
                bottom:8% ;
                left:60% ;
                transform: translate(-50%);
                content: "";
}
.saleflex{
display: flex;
justify-content: space-between;
}
.saleitem{
padding-top: 60px;
position: relative;
}
.saleitem h4{
  padding-top: 30px;
  color: white;
               font-size:25px ;
               font-weight: 600;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
}
.saleitem p{
  padding: 30px 0;
  color: #666;;
               font-size:16px ;
               font-weight: 600;
               letter-spacing: 10%;
               font-family:"Oswald", sans-serif;               
}
.saleitem img{
  font-size: 25px;
    transition: transform 0.5s ease;
}
.saleitem img:hover{
  transform: scale(1.05); 
box-shadow: 0 4px 12px rgba(252, 98, 98, 0.5);
}
.saleitem i{
  color: #212121;
  font-size: 30px;
  position: absolute;
  bottom:82%;
  right: 6%;
}
.catalog h4{
  padding-top: 80px;
  color: white;
               font-size:20px ;
               font-weight: 600;
               font-family:"Barlow Condensed", sans-serif;
}
.div{
  background: #212121;
  width: 1300px;
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
  position: relative;
  height: 500px;
}
.catalogtext h5{
   padding-top: 60px;
   padding-left: 50px;
  color: #FF4655;
               font-size:16px ;
               font-weight: 600;
               letter-spacing: 10%;
               font-family:"Oswald", sans-serif;
}
.catalogtext h4{
   padding-top: 30px;
   padding-left: 50px;
  color: #fff;
               font-size:38px ;
               font-weight: 600;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
               width: 580px;
               line-height: 50px;
}
.catalogtext p{
   padding-top: 30px;
   padding-left: 50px;
   padding-right: 450px;
  color: #666;
               font-size:16px ;
               font-weight: 600;
               letter-spacing: 7%;
               font-family:"Oswald", sans-serif;
               line-height: 30px; 
}
.catalogbtn a{
  color: #fff;
  background: #121212;
  padding: 25px 40px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  transition: .5s;
}
.catalogbtn a:hover{
  background: transparent;
  color: #FF4655;
   border: 1px solid #fff;
}
.slideimg{
  position: absolute;
  top: 50px;
  left: 65%;
  width: 100%;
  margin-top: 45px;
}
.slideimg img{
  transition: .5s;
}
.slideimg-top{
  position: absolute;
  bottom: 0%;
  left: 4%;
}
.slidetop{
  position: absolute;
  bottom:0%;
  left: 50%;
}
.top{
   position: absolute;
  top:-15%;
  right: 73.5%;
}
.slideimg img:hover{
  transform: scale(1.05); 
box-shadow: 0 4px 12px rgba(135, 1, 1, 1);
border: 1px dashed darkblue;
}
       /* friday sale part end */
   /* gaming Accesories part start */
   #Accesoriespart{
padding: 200px 0;
background: #121212;
   }
   .accesoriestext h3{
color: white;
               font-size:38px ;
               font-weight: 600;
               width: 446px;
               line-height: 50px;
               letter-spacing: 7%;
               font-family:"Oswald", sans-serif;
               position: relative;
   }
  .accesoriestext h3::before{
                position: absolute;
                height:3px;
                width: 120px;
                background:#FF4655;
                bottom:8% ;
                left:65% ;
                transform: translate(-50%);
                content: "";
             } 
  .accesoriesflex {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
  }
  .accesoriesitem{
    align-items: center;
    text-align: center;
    background: #212121;
    padding: 40px;
    border: 1px solid black;
    margin-left: 25px;
  }
  .accesoriesitem h3{
color: white;
               font-size:40px ;
               font-weight:700;
               line-height: 50px;
               letter-spacing: 1%;
               font-family:"Oswald", sans-serif;  
}
.accesoriesitem img{
  padding-top: 20px;
  padding-bottom: 60px;
}
.accesoriesitem h4{
color: white;
               font-size:25px ;
               font-weight:700;
               letter-spacing: 1%;
               font-family:"Oswald", sans-serif;  
}
.accesoriesitem p{
color:#FF4655;
               font-size:20px ;
               font-weight:700;
               font-family:"Oswald", sans-serif;  
               padding-top: 25px;
}
.accright i{
  position: absolute;
  top: 45%;
  left: 102%;
  color:#FF4655;
  font-size: 50px;
  transition: .5s;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.accright i:hover{
  background: #DDDDDD;
}
.accleft i{
 position: absolute;
  top: 45%;
  right: 95.5%;
  color:#FF4655;
  font-size: 50px;
  transition: .5s;
    height: 50px;
  width: 50px;
  border-radius: 50%;
}
.accleft i:hover{
  background: #DDDDDD;
}
.hover{
  display: flex;
  justify-content: space-between;
transition: .8s;
}
  .hover:hover{
    transform: scale(1.05);
     box-shadow: 0px 8px 16px 0px rgba(248, 59, 59, 0.5); ;
  }

 /* gaming Accesories part end */
/* Elite team part start */
#eliteteampart{
  padding: 200px 0;
  background:#191919 ;
}
.eliteteamtext h3{
        top: 0;
        left: 65%;
color: white;
               font-size:38px ;
               font-weight: 600;
               width:450px;
               line-height: 50px;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
               position: relative;
      }
   .eliteteamtext h3::before{
              position: absolute;
                height:3px;
                width: 120px;
                background:#FF4655;
                bottom:8% ;
                left:55% ;
                transform: translate(-50%);
                content: "";
}
.eliteteamtop{
  margin-top: 80px;
  width: 50%;
  position: relative;
  display: flex;
  margin-left: 25px;
}
.eliteteamtop img{
  width: 100%;
  display: block;
}
.eliteitemtext{
position: absolute;
padding: 30px;
background: #25242458;
bottom: 0;
left:0;
width: 100%;
transition: .5s;
}
.eliteitemtext h3{
  position: absolute;
  color: white;
               font-size:30px ;
               font-weight: 700;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
}
.elitecontent{
  padding: 30px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #25242454;
  width: 100%;
  transition: .5s;
}
.elitecontent a{
  color: #fff;
  background: #FF4655;
  padding: 10px 25px;
  transition: .5s;
  border: 1px solid #191919;
}
.elitecontent a:hover{
color: #FF4655;
background: #DDDDDD;
}
.elitecontent p{
color: white;
               font-size:16px ;
               font-weight: 400;
               letter-spacing: 7%;
               width: 400px;
               line-height: 30px;
               font-family:"Oswald", sans-serif;  
               padding: 20px 0;
}
.elitecontent h3{
    color: white;
               font-size:30px ;
               font-weight: 700;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
}
.eliteteamtop:hover .elitecontent{
visibility: visible;
opacity: 1;
}
.eliteteamtop:hover .eliteitemtext{
  visibility: hidden;
  opacity: 0;
}
.eliteitems{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.eliteteambottom{
  width: 50%;
  position: relative;
  display: flex;
  margin-left: 25px;
}
.eliteteambottom img{
  width: 100%;
  display: flex;
}
.eliteitemstwo{
  justify-content: space-between;
  display: flex;
}
.elitecontenttwo{
  padding: 30px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #25242454;
  width: 100%;
  transition: .5s;
}
.elitecontenttwo a{
  color: #fff;
  background: #FF4655;
  padding: 10px 25px;
  transition: .5s;
  border: 1px solid #191919;
}
.elitecontenttwo a:hover{
color: #FF4655;
background: #DDDDDD;
}
.elitecontenttwo p{
color: white;
               font-size:16px ;
               font-weight: 400;
               letter-spacing: 7%;
               width: 400px;
               line-height: 30px;
               font-family:"Oswald", sans-serif;  
               padding: 20px 0;
}
.elitecontenttwo h3{
    color: white;
               font-size:30px ;
               font-weight: 700;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
}
.eliteteambottom:hover .elitecontenttwo{
visibility: visible;
opacity: 1;
}
.eliteteambottom:hover .eliteitemtext{
  visibility: hidden;
  opacity: 0;
}
/* Elite team part end */
/* Q & A part start */
#QNApart{
  padding: 200px 0;
  background: #121212;
}
.QNAtext h3{
    color: white;
               font-size:38px ;
               font-weight:600 ;
                width: 493px;
                line-height: 50px;
                 position: relative;
                 font-family: "Barlow Condensed", sans-serif;
}
.QNAtext h3::before{
    position: absolute;
                height:3px;
                width: 120px;
                background:#FF4655;
                bottom:8% ;
                left:75% ;
                transform: translate(-50%);
                content: "";
}
.QNAflex{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  border-bottom: 2px solid #666;
  position: relative;
}
.QNAflex ::before{
  position: absolute;
                height:250px;
                width: 2px;
                background:#666;
                bottom:0;
                left:50%;
                transform: translate(-50%);
                content: "";
}
.QNAlefttext{
  display: block;
  padding-left:  60px;
}
.QNAlefttext h3{
color: #fff;
  font-size: 22px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  transition: .5s;
}
.QNAlefttext h3:hover{
  color: #FF4655;
}
.QNAlefttext p{
  color: #666;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding: 25px 0;
  width: 427px;
  line-height: 30px;
}
.QNAleft{
  display:flex;
  margin-bottom: 80px;
}
.nope{
  border: none !important;
}
.num h3{
  color: #fff;
  font-size: 30px;
  padding: 25px 30px;
  background: #FF4655;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  transition: .5s;
}
.num h3:hover{
  color: #FF4655;
  background: black;
}
.QNAflextwo{
  display: flex;
   justify-content: space-between;
   margin-top: 80px;
   position: relative;
}
.QNAflextwo::before{
    position: absolute;
                height:250px;
                width: 2px;
                background:#666;
                bottom:0%;
                left:50%;
                transform: translate(-50%);
                content: "";
}
.QNAright{
  display:flex;
}
/* Q & A part end */
/* lastpart start */
#lastpart{
  padding: 200px 0;
  background: #191919;
  position: relative;

}

.subscribe{
  background:#FF4655 ;
  position: absolute;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  bottom: 90%;
  left: 15%;
}
.subscribe h3{
 color: white;
               font-size:40px ;
               font-weight: 600;
               width:725px;
               line-height: 50px;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
}
.input{
  align-items: center;
  margin-left: 60px;
 width: 25%;
 display: flex;
}
.input input{
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 70px;
 border: none;
 position: absolute;
}
.input input:hover{
  outline: none;
}
.input button{
  background: #121212;
  color: #fff;
  padding: 10px 30px;
  border-radius:50px ;
  top:60px;
  right:15px;
  position: absolute;
  border: 2px solid black;
  transition: .5s;
}
.input button:hover{
  background: transparent;
  color: darkred;
}
.last{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #666;
  padding-bottom: 100px;
}
.lastitem p{
color: #666;;
               font-size:16px ;
               font-weight: 600;
               letter-spacing: 10%;
               width: 500px;
               line-height: 25px;
               font-family:"Oswald", sans-serif; 
               padding: 20px 0;  
}
.lastitem i{
  color: #fff;
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: #212121;
  margin-top: 20px;
  margin-left: 20px;
  transition: .5s;
}
.lastitem i:hover{
  background: #FF4655;
}
.lastitemm{
  display: block;
  padding: 20px 0;
}
.lastitemm h3{
   color: white;
               font-size:25px ;
               font-weight: 600;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
               padding-bottom: 20px;
}
.lastitemm a{
  color: #666;
  font-size: 16px;
   font-weight: 500;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
               display: block;
               padding: 20px 0;
               transition: .5s;
}
.lastitemm a:hover{
  color: #FF4655;
}
.lastitemmm{
  display: block;
  width: 30%;
}
.lastitemmm h3{
   color: white;
               font-size:25px ;
               font-weight: 600;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
               padding-bottom: 20px;
               padding-top: 20px;
}  
.lastitemflex{
  display: flex;
  justify-content:space-between ;
  width: 32%;
  margin-top: 25px;
}
.cardone{
  width: 100%;
  padding-left: 6px;
}
.topp{
  margin-top:3px;
}
.end h3{
   color: white;
               font-size:20px ;
               font-weight: 500;
               letter-spacing: 7%;
               font-family:"Barlow Condensed", sans-serif;
               padding-top: 30px; 
               transition: .5s; 
}
.end h3:hover{
  color: #FF4655;
}
.end{
  text-align: center;
}
/* lastpart end */



